/*MAIN
----------------------------------------------------------------------------------------*/

body {
        padding-bottom: 40px;
        font-family:roboto;
        background:url("http://img832.imageshack.us/img832/8339/patternp.png") repeat;
}

h1 {
  text-align: center;
}

#ultimateWrapper {
        position:absolute;
        width:100%;
        height:100%;
}

.home {
  text-align:center;
}

.lead {
  text-align:left;
  padding-top:10px;
}

/*NAVBAR
----------------------------------------------------------------------------------------*/
.navbar-wrapper {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        margin-top: 20px;
        margin-bottom: -90px;
}
.navbar-wrapper .navbar {

}

.navbar .navbar-inner {
        border: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
           -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
                box-shadow: 0 2px 10px rgba(0,0,0,.25);
}


.navbar .brand {
        padding: 14px 20px 16px; 
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.navbar .nav > li > a {
        padding: 15px 20px;
        line-height: 40px;

}

.navbar .btn-navbar {
        margin-top: 10px;
}


#navContain{
       width:530px;
}


/*CAROUSEL
----------------------------------------------------------------------------------------*/

.carousel {
        margin-bottom: 60px;
}

.carousel-inner {
  overflow:visible;
}

#clique {
  background:URL("http://imageshack.us/a/img268/582/du56.png")no-repeat center;
  background-size:100% auto;
  width:100%;
  height:inherit;
  max-height:500px;
  position:absolute;
}

#bsgIntro {
  background:URL("http://img14.imageshack.us/img14/3565/5pjy.png")no-repeat center;
  background-size:100% auto;
  width:100%;
  height:inherit;
  max-height:500px;
  position:absolute;
}

#forsakenIntro {
  background:URL("http://imageshack.us/a/img96/8684/o64x.png")no-repeat center;
  background-size:100% auto;
  width:100%;
  height:inherit;
  max-height:500px;
  position:absolute;
}

.carousel .container {
        position: relative;
        z-index: 9;
        height:500px;
}

.carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        background-color: transparent;
        color: #202020;
        opacity:0.8;
        border: 0;
        z-index: 10;
}

.carousel .item {
        height: 500px;
}
.carousel img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
}

.carousel-caption {
        background-color:rgba(0, 0, 0, 0.70);
        position: absolute;
        right:0;
        bottom:0;
        left:0;
        padding: 15px;
        margin:auto;
        text-align:center;
        max-height: 100px;
}
.carousel-caption h1, .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
        margin-top: 10px;
        margin-bottom:10px;
}



/* MARKETING CONTENT 
----------------------------------------------------------------------------------------*/
.marketing .span4 {
        text-align: center;
}
.marketing h2 {
        font-weight: normal;
}
.marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
}


/* Featurettes */

.featurette-divider {
        margin: 80px 0; 
}
.featurette {
        padding-top: 120px; 
        overflow: hidden; 
}
.featurette-image {
        margin-top: -120px; 
}

.featurette-image.pull-left {
        margin-right: 40px;
}
.featurette-image.pull-right {
        margin-left: 40px;
}


.featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
  }
  .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
  }

  .carousel .item {
          height: 500px;
  }
  .carousel img {
          width: auto;
          height: 500px;
  }

  .featurette {
          height: auto;
          padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
          margin: -20px;
  }

  .carousel {
          margin-left: -20px;
          margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
          height: 300px;
  }
  .carousel img {
          height: 300px;
  }
  .carousel-caption {
          width: 65%;
          padding: 0 70px;
          margin-top: 100px;
  }
  .carousel-caption h1 {
          font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
          font-size: 18px;
  }

  .marketing .span4 + .span4 {
          margin-top: 40px;
  }

  .featurette-heading {
          font-size: 30px;
  }
  .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
  }

}

/*CAROUSEL CUSTOMIZING
----------------------------------------------------------------------------------------*/

.title{
        color:#202020;
        text-align:center;
        line-height:4px;
}


#dots{
        position:absolute;
        top:105%;
        right:50%;
  
}

.carousel-indicators li {
        background-color:silver;
}

.carousel-indicators .active {
       background-color:#575756;
}

#description {
        color:#202020;
        font-size:14px;
        max-width:500px;
        margin:auto;
}

.carousel-caption {
  background:rgba(255, 255, 255, 0.6);
}

/*INDEX
----------------------------------------------------------------------------------------*/

#header {
        width:100%;
}

#headerWidth {
        width:100%;
        height:500px;
        background:URL("http://img833.imageshack.us/img833/51/codeselfie.png");
        background-size:100% auto ;
        background-repeat:no-repeat;
        background-color:black;
        background-position:center;
}

#info {
    text-align:center;
    height:500px;
}

#info h2 {
    margin-top:40%;
}

#me {
    background: URL("http://img842.imageshack.us/img842/6792/minimeo.png") no-repeat center;
    background-size:auto 100%;
    height:333px;
}

#name {
      margin-top:10px;
}

#head {
      font-size:60px;
      line-height:50px;
      font-weight:500;
      background-color:rgb(146, 146, 146);
      color: rgb(76, 76, 77);
      padding:5px;
}

.subHead {
    font-size: 30px;
    line-height: 39px;
    font-weight: 300;
    BACKGROUND-COLOR: orange;
    color: white;
    padding: 7px;
}

#smallText {
      line-height:10px;
}

#skills {
    background:URL("http://img62.imageshack.us/img62/5618/skillsuft.png") no-repeat top;
    height:300px;
    background-size:100% auto;
}

#summary {
    color: white;
    background-color:rgb(180, 180, 180);;
    padding: 3px;
    font-size: 18px;
    line-height: 23px;
}

#dates {
    color:orange;
}

/*PORTFOLIO GALLERY
----------------------------------------------------------------------------------------*/

#gallery {
  margin-left:auto;
}

#gallery .span4 {
  height:200px;
  margin-top: 2%; 
}

.thumbnail:hover {
  opacity:1;
}

#galleryWrapper {
  margin-top: 13%;
}

.thumbnail{
  padding-left: 2%;
  opacity:0.5;
}

.modal {
  margin-left: 1%;
  width:98%;
  height:89%;
  left:0;
  overflow-y:auto;
}

.modal-body{
  height:83%;
  width:94%;
  max-height:none;
  overflow-x:hidden;
  overflow-y:auto;
  text-align: center;
}

.modal-header h3 {
  text-align: center;
  color:gray;
}

/** Gallery Images **/

#app{
  background: URL("http://imageshack.us/a/img856/8962/9lp3.png") center;
  background-size:100% auto;
}
#appImage {
  background:URL("http://img27.imageshack.us/img27/2055/4eau.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#appPdf {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

#battleStar {
  background: URL("http://imageshack.us/a/img19/7262/8f00.png") center;
  background-size:100% auto;
}

#bsgImage {
  background:URL("http://imageshack.us/a/img35/2039/6d7c.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#bsgFull {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

#forsaken {
  background: URL("http://imageshack.us/a/img208/8439/ivou.png") center;
  background-size:100% auto;
}
#forsakenImage {
  background:URL("http://imageshack.us/a/img585/9896/o65k.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#forsakenPdf {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

#infographic {
  background: URL("http://img706.imageshack.us/img706/9131/0szd.png") center;
  background-size:100% auto;
}
#infographicImage {
  background:URL("http://imageshack.us/a/img802/403/ym1g.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#infographicFull {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

#lily{
  background: URL("http://imageshack.us/a/img607/7651/thumblily.png") top;
  background-size:100% auto;
}
#lilyImage {
  background:URL("http://imageshack.us/a/img208/6523/kxcu.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#lilyFull {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

#zelda {
  background: URL("http://imageshack.us/a/img854/508/thumbzelda.png") center;
  background-size:100% auto;
}
#zeldaImage {
  background:URL("http://imageshack.us/a/img841/6735/g3pf.png") no-repeat center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  max-width:700px;
  margin:auto;
}
#zeldaFull {
  background-color: gray;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration:none;
  color:white;
}

/** about **/
#pdf {
  width:25%;
  height:5%;
  background-color:orange;
  padding:8px;
  color:white;
  text-align: center;
  max-width:100px;
}

#resume {
  text-decoration:none;
  color:white;
}

/** contact **/
#contactHead {
  text-align: left;
  font-weight: 300;
  padding-left:6%;
  color:gray;
}

.contact {
  margin:auto;
  padding-top:50px;
}

#contactFit {
  text-align: center;
  padding-right:20px;
  font-weight:500;
}

#contactRow {
  width:100%;
  height:auto;
}

#contactEmail {
  width:50%;
  background-color:transparent;
  color:gray;
  text-align:right;
  margin:auto;
  margin-top:-10px;
  padding-right:10px;
  font-weight:400;
}

#contactPhone {
  width:50%;
  background-color:transparent;
  color:gray;
  text-align:right;
  margin:auto;
  margin-top:-10px;
}

#footer {
  text-decoration:none;
  color:gray;
}

footer {
  text-align:center;
}